@using System.Threading.Tasks
@using OID.Web.Models
@using OID.Web.Models.Object

@model List<OID.Web.Models.Object.ObjectListViewModel>

<a href="@Url.Action("Create")" style="margin-bottom: 20px;" class="btn btn-success">Добавить объект <span class="glyphicon glyphicon-plus" style="margin-left: 5px;"></span></a>

<table class="table table-hover">
    <thead>
        <tr class="active">
            <th>Наименование</th>
            <th>Описание</th>
            <th>Категория объекта</th>
            <th>Статус объекта</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dealObject in Model)
        {
            <tr>
                <td>
                    @dealObject.Name
                </td>
                <td>
                    @dealObject.Description
                </td>
                <td>
                    @dealObject.CategoryName
                </td>
                <td>
                    @dealObject.StatusName
                </td>
                <td>
                    <a href="@Url.Action("Update", new {objectID = dealObject.ObjectId, checkListId=dealObject.CheckListId})" class="btn btn-warning">Редактировать</a>
                    <a href="@Url.Action("Copy", new {objectID = dealObject.ObjectId, checkListId=dealObject.CheckListId})" class="btn btn-primary">Копировать</a>
                    <form asp-action="Delete" id="deleteObject@(dealObject.ObjectId)" style="display: inline">
                        <input type="hidden" name="objectId" value="@dealObject.ObjectId"/>
                        <button class="btn btn-danger"type="button"  onclick="deleteObject('#deleteObject@(dealObject.ObjectId)')"><span class="glyphicon glyphicon-trash"></span></button>
                    </form>                    
                </td>
            </tr>
        }
    </tbody>

    @Html.Partial("_ConfirmAlert")
</table>
