@using System.Threading.Tasks
@using OID.Web.Models.Partials
@using OID.Web.Models.User
@model OID.Web.Models.Partials.AddressViewModel

<div class="form-group">
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <label asp-for="DeliveryLocationType" style="margin-right: 10px" class="control-label"></label>
                <input name="@(Model.ModelPrefix).DeliveryLocationType" asp-for="DeliveryLocationType" type="radio" data-radio-identifier="deleveryType" value="@AddressType.City" @(Model.DeliveryLocationType= =AddressType.City?"checked":"") /> Город
                <input name="@(Model.ModelPrefix).DeliveryLocationType" asp-for="DeliveryLocationType" type="radio" data-radio-identifier="deleveryType" value="@AddressType.Locality" @(Model.DeliveryLocationType= =AddressType.Locality?"checked":"") /> Населенный пункт
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        <div class="row">
            <label asp-for="RegionCode" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select name="@(Model.ModelPrefix).RegionCode" asp-for="RegionCode" id="regionList" class="form-control" asp-items="@Model.RegionList"></select>
            </div>
        </div>
    </div>
</div>
<div data-region="@AddressType.City" data-radio-identifier="deleveryType" style="display: @(Model.DeliveryLocationType==AddressType.City?"block":"none")">
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">
                <label asp-for="City.CityCode" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select name="@(Model.ModelPrefix).City.CityCode" id="cityList" asp-for="City.CityCode" class="form-control" asp-items="@Model.City.CityList"></select>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-region="@AddressType.Locality" data-radio-identifier="deleveryType" style="display: @(Model.DeliveryLocationType==AddressType.Locality?"block":"none")">
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">
                <label asp-for="Locality.LocalityCode" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select name="@(Model.ModelPrefix).Locality.LocalityCode" id="localityList" asp-for="Locality.LocalityCode" class="form-control" asp-items="@Model.Locality.LocalityList"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="row">
                <label asp-for="Locality.LocationCode" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <select name="@(Model.ModelPrefix).Locality.LocationCode" id="locationList" asp-for="Locality.LocationCode" class="form-control" asp-items="@Model.Locality.LocationList"></select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md- col-md-10">
        <div class="row">
            <label asp-for="Address" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <textarea name="@(Model.ModelPrefix).Address" asp-for="Address" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>